body, html {
font-family: 'Poppins', sans-serif;
background-image: url("../img/pizza-main.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position-y: 110px;
}

#container {
  margin-top: 50px;
}

H1 {
  font-size: 6em;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  color: rgb(128, 59, 59);
}

#welcome {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}

#frmGetStarted {
  width: 300px;
  font-family: 'Paytone One', sans-serif;
}

#myModal, #myModal2, #displayToppings, #showCheckout, #displayAddressFrm, #showOpt  {
  display: none;
}

img {
  padding-left: 50px;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#showOpt {
  display: none;
  background-color: white;
  margin-right: 160px;
  margin-left: 160px;
  padding: 70px;
}

.label-font {
  font-size: 1.5em;
  color: rgb(54, 7, 7);
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
  margin-left: 50px;
}

.add-address, .checkout {
  display: flex;
  justify-content: flex-end;
}